@use "../custom" as c;

.dropdown-menu {
  &.li {
    position: relative;
  }

  &.dropdown-submenu {
    display: none;
    position: absolute;
    bottom: -160%;
    left: 5%;

    @include c.media-breakpoint-up(lg) {
      left: 100%;
      bottom: auto;
      top: 0;
    }
  }

  & > li:hover > .dropdown-submenu {
    display: block;
  }
}
