@use "../custom" as c;
@use "../mixins" as mix;

.archive {
  @include mix.card-posts;

  .row {
    max-width: 80%;
    @include c.media-breakpoint-up(md) {
      max-width: 68rem;
    }
    min-width: 80%;
  }

  .card {
    // background-color: c.$grey-light;
    // border: none;
  }
}
