@use "../custom" as c;

.primary-carousel {
  padding: 0;
  .carousel-inner {
    .carousel-item {
      position: relative;
      height: 100vh;
      width: 100vw;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 30%),
          rgba(0, 0, 0, 0%)
        );
        z-index: 1;
      }
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }

    .carousel-cta {
      min-height: max-content;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      // width: 60%;
      position: absolute;
      top: 50%;
      // left: 50%;
      transform: translate(0, -50%);
      z-index: 2;

      // h3.sub-title {
      //   // margin: 0 auto;
      //   font-size: 1rem;
      //   margin-bottom: 0.5rem;
      //   font-weight: 600;

      //   @include c.media-breakpoint-up(md) {
      //     font-size: 1.4375rem;
      //   }
      // }

      h2.title {
        text-shadow: none;
        font-size: 2rem;
        font-weight: 700;
        @include c.media-breakpoint-up(lg) {
          font-size: 2.8rem;
        }
        @include c.media-breakpoint-up(xl) {
          font-size: 4.0625rem;
        }
      }

      .caption {
        font-size: 0.975rem;
        // margin: 0 auto;
        @include c.media-breakpoint-up(md) {
          width: max(60%, 30rem);
        }
        // min-height: max-content;
        // word-wrap: break-word;
      }

      .btn-cta {
        text-shadow: inherit;
        background-color: white;
        color: c.$custom-green-light;
        font-weight: bold;
        text-shadow: none;
        transition: all 600ms;

        &:hover {
          background-color: c.$primary;
          color: white;
        }
      }
    }
  }
}

h2 mark {
  line-height: 1.7;
}
