@use "../custom" as c;
@use "../mixins" as mix;


.footer-section {
  padding-top: 6rem !important;
  background-color: c.$icel_secondary;
  color: white;
  font-size: 0.9rem;

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1.3rem;
  }

  .widget-section-title {
    font-size: 1rem;
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    // margin-left: 1rem;
    padding: 0;
  }

  .media-sosial-icon-container {
    font-size: 1rem;
  }

  .media-sosial-icon {
    @include mix.media-social-icon;
  }

  .fa-brands {
    @include mix.fa-brands;
  }
}

.footer-widget {
  min-width: 15rem;
  max-width: 80%;
  margin-left: 2rem;
  margin-top: 1rem;
  &:nth-child(4) {
    margin-bottom: 2rem;
  }

  @include c.media-breakpoint-up(md) {
    max-width: min(30rem, 24%);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    &:nth-child(4) {
      margin-bottom: 0rem;
    }
  }

  .media-sosial-icon {
    a {
      color: currentColor;
      transition: 600 all;
      &:hover {
        color: currentColor;
        font-size: 110%;
      }
    }
  }

  .profil-container,
  .organisasi-container,
  .lainnya-container {
    a {
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: c.$primary;
      }
    }
  }
}
