@use "../custom" as c;
@use "../mixins" as mix;

section {
  padding: 4.375rem 0;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5625rem;
}

.archive-title {
  @extend .section-title;
  text-align: start;
  font-size: 2rem;
}

.archive-description,
.section-description {
  color: c.$grey-dark-600;
  text-align: center;
  padding-bottom: 1.2rem;
  max-width: max(50%, 25rem);
  margin: 0 auto;
}

.btn {
  width: max-content;
  height: max-content;
  padding: 0.5rem 1rem;
}

.ellipsis {
  &-4 {
    @include mix.ellipsis-overflow(4);
  }

  &-3 {
    @include mix.ellipsis-overflow(3);
  }

  &-2 {
    @include mix.ellipsis-overflow(2);
  }

  &-1 {
    @include mix.ellipsis-overflow(1);
  }
}

.post-detail-info {
  font-size: 0.85rem;
}
