@use "../custom" as c;
@use "../mixins" as mix;

.publikasi {
  background-color: c.$grey-light;

  .link-publikasi {
    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      a {
        color: initial;
      }
    }
  }

  .slide-container {
    // background-color: c.$grey-dark;
  }

  .slide-publikasi-wrapper {
    position: relative;
  }

  .card {
    border: 2px solid c.$primary !important;
    width: 22rem !important;
    height: 17rem;
    color: c.$primary !important;
    padding: 3.125rem 1.875rem;
    position: relative;
    overflow: hidden;
    border: none;
    transition: 500ms;

    .btn-outline-primary {
      color: c.$primary;

      &:hover {
        color: white;
      }
    }
  }

  .card-title {
    font-size: 2rem;
    font-weight: 600;
  }

  // .card-buku {
  //   background-color: c.$primary;
  // }

  // .card-seri-analisis {
  //   background-color: c.$primary-2;
  // }

  // .card-pendapat-hukum {
  //   background-color: c.$primary-3;
  // }

  // .card-infografis {
  //   background-color: c.$primary-4;
  // }

  // .card-kertas-kebijakan {
  //   background-color: c.$primary-5;
  // }

  .card-symbol {
    font-size: 3rem;
  }

  .slide-content {
    padding: 2rem;
  }

  .swiper-publikasi {
    width: min(100%, 75rem);
    // overflow: visible;
  }

  .swiper-button {
    @include mix.swiper-button;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    opacity: 70%;
    // pointer-events: none;
    transform: scale(0.9);
    transform-origin: center center;

    &-active {
      z-index: 2;
      opacity: 100%;
      pointer-events: initial;
      transform: scale(1.1) !important;

      // .link-publikasi {
      //   display: block;
      // }
    }
  }

  // .link-publikasi {
  //   display: none;
  // }

  .swiper-button-prev {
    left: 2rem;
  }

  .swiper-button-next {
    right: 2rem;
  }
}
