@use "../custom" as c;
@use "../mixins" as mix;

.publikasi {
  background-color: c.$grey-light;

  .link-publikasi {
    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      a {
        color: initial;
      }
    }
  }

  .slide-container {
    // background-color: c.$grey-dark;
  }

  .card {
    width: 18rem !important;
    height: 22rem;
    color: white;
    padding: 3.125rem 1.875rem;
    border-top-right-radius: 30px 30px;
    position: relative;
    overflow: hidden;
    border: none;
    transition: 500ms;
  }

  .card-title {
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  .card-description {
    font-size: 1.1rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  .card-buku {
    background-color: c.$primary;
  }

  .card-seri-analisis {
    background-color: c.$primary-2;
  }

  .card-pendapat-hukum {
    background-color: c.$primary-3;
  }

  .card-infografis {
    background-color: c.$primary-4;
  }

  .card-kertas-kebijakan {
    background-color: c.$primary-5;
  }

  .card-symbol {
    display: block;
    position: absolute;
    font-size: 10rem;
    bottom: -0.625rem;
    right: -1.25rem;
    opacity: 30%;
  }

  .slide-content {
    padding: 2rem;
  }

  .swiper {
    width: 100%;
    // overflow: visible;
  }

  .swiper-button {
    @include mix.swiper-button;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    opacity: 70%;
    // pointer-events: none;
    transform: scale(0.9);
    transform-origin: center center;

    &-active {
      z-index: 2;
      opacity: 100%;
      pointer-events: initial;
      transform: scale(1.1);

      .link-publikasi {
        display: block;
      }
    }
  }

  .link-publikasi {
    display: none;
  }

  .swiper-button-prev {
    left: 2rem;
  }

  .swiper-button-next {
    right: 2rem;
  }
}
