$primary: #00a365;
$primary-2: #e6d422;
$primary-3: #a822e6;
$primary-4: #fc6f32;
$primary-5: #26bffe;
$icel_secondary: #081828;
$grey-light: #f5f5f5;
$grey-light-500: #d9d9d9;
$grey-dark: #7e8082;
$grey-dark-600: #5a5a5a;

$facebook-color: #3b5998;
$twitter-color: #55acee;
